html {
  border-radius: 40%;
}
body {
  width: 300px;
  text-align: center;
  background-color: #ffffff;

}

#icon {
  width: 60px;
}
















/* 
h2 {
  color: #fbfffd;
}

h1 {
  font-size: 2rem;
}

div {
  font-size: 1.1rem;
}

.
#phonetic {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.exampleDiv {
  background-color: #474600;
  width: 70%;
}
#example {
  font-size: 1rem;
  width: 70%;
  
  color: #ffffff;
}

.navigate-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
}

.navigator {
  text-decoration: none;
  display: inline-block;
  padding: 6px 14px;
}

.hidenavigator {
  display: none;
}

.navigator:hover {
  cursor: pointer;
  background-color: rgb(4, 58, 19);
  color: rgb(255, 255, 255);
}

.previous,
.next {
  background-color: #01462d;
  color: rgb(255, 255, 255);
}

.searchsvg {
  width: 17px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.searchanchor {
  text-decoration: none;
  outline: none;
}

.searchanchor:hover {
  text-decoration: none;
  outline: none;
  border: none;
} */
